<div class="container" >
  <div class="row">
    <div class="col-m-10">
      <span>Input</span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-5">
      <div class="md-form form-group">
        <textarea
        input="text"
        id="form7"
        class="md-textarea form-control"
        rows="3" required

        name="reportInfo"></textarea>

        <button type="submit" id="button7" class="btn btn-primary" (click)="buttonOnClick()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

