<div class="col-xl-12" *ngIf="!login">
  <h3>Please login as admin to approve report</h3>
</div>
<div class="container" *ngIf="login">
  <div class="row" *ngFor="let report of reportsPendingApproval; let indexOfReport = index">
    <div class="col-xs-5">
      <p>Username: <b>{{ report.username }}</b></p>
      <p>Index of report: {{ indexOfReport }}</p>
      <p>Submitted time: {{ report.time }}</p>
      <button class="btn btn-primary" (click)="reportApproved(indexOfReport)">Approve</button>
      <button class="btn btn-primary" (click)="onDestroyReport(indexOfReport)">Reject</button>
      <button class="btn btn-primary" (click)="onReportForEdit(indexOfReport)">Edit</button>
    </div>
    <div class="col-xs-7">
      <label for="report">Report: </label>
      <p>{{ report.report }}</p>
    </div>
  </div>
</div>


